html { box-sizing: border-box }

*,
*:before,
*:after { box-sizing: inherit }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

canvas {
  display: block;
  vertical-align: bottom;
}

::selection      { background: black; color: white }
::-moz-selection { background: black; color: white }

a {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #21293c;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
