html {
  font-family: "Lato", sans-serif;
  background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #9733F4, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #9733F4, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ts1 {
  text-shadow: .1em .1em 0 black;
}

.bs1 {
  box-shadow: .3em .3em 0 black;
}
